.env
**/.env
**/node_modules
**/data
.vscode

**/__pycache__

*.tfstate
*.tfstate.*
*.tfvars
.terraform/
*.plan
**/.*.tfstate
**/.*.tfstate.*
**/.*.tfvars
**/.terraform/
**/.*.plan
**/.*.terraform.lock.hcl
**/.*.terraform.tfstate.backup
